<!doctype html>
<html lang="en">

<head>
  <title>Analysis of Indian Road Accidents</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>
  <header>
    <!-- place navbar here -->
  </header>
  <main style="background-color: peachpuff;">
    <div  class="container">
        <div class="row">
            <div class="col-md-12 mx-auto">
                <div class="card">
                    <div class="card-header">
                        <h1>Total Accidents Per Year</h1>
                        <div id="graph7">
                        </div>
                    </div>
                    <div class="card-body">
                        {{ fig7 | safe }}
                    </div>
                </div>
            </div>

            <div class="col-md-12 mx-auto">
                <div class="card">
                    <div class="card-header">
                        <h1>Total Killed per year</h1>
                        <div id="graph8">
                        </div>
                    </div>
                    <div class="card-body">
                        {{ fig8 | safe }}
                    </div>
                </div>
            </div>

            <div class="col-md-12 mx-auto">
                <div class="card">
                    <div class="card-header">
                        <h1>Total Injuries per year</h1>
                        <div id="graph9">
                        </div>
                    </div>
                    <div class="card-body">
                        {{ fig9 | safe }}
                    </div>
                </div>
        
            <div class="col-md-12 mx-auto">
                <div class="card">
                    <div class="card-header">
                        <h1>Total Accidents Per Year</h1>
                        <div id="graph10">
                        </div>
                    </div>
                    <div class="card-body">
                        {{ fig10 | safe }}
                    </div>
                </div>
            </div>
    
            <div class="col-md-12 mx-auto">
                <div class="card">
                    <div class="card-header">
                        <h1>Total Killed per year</h1>
                        <div id="graph11">
                        </div>
                    </div>
                    <div class="card-body">
                        {{ fig11 | safe }}
                    </div>
                </div>
            </div>
    
            <div class="col-md-12 mx-auto">
                <div class="card">
                    <div class="card-header">
                        <h1>Total Injuries per year</h1>
                        <div id="graph12">
                        </div>
                    </div>
                    <div class="card-body">
                        {{ fig12 | safe }}
                    </div>
                </div>
            </div>    
                    
            <div class="col-md-12 mx-auto">
                <div class="card">
                    <div class="card-header">
                        <h1>Total Accidents Per Year</h1>
                        <div id="graph13">
                        </div>
                    </div>
                    <div class="card-body">
                        {{ fig13 | safe }}
                    </div>
                </div>
            </div>
        
            <div class="col-md-12 mx-auto">
                <div class="card">
                    <div class="card-header">
                        <h1>Total Killed per year</h1>
                        <div id="graph14">
                            </div>
                        </div>
                    <div class="card-body">
                        {{ fig14 | safe }}
                    </div>
                </div>
            </div>
        
            <div class="col-md-12 mx-auto">
                <div class="card">
                    <div class="card-header">
                        <h1>Total Injuries per year</h1>
                        <div id="graph15">
                            </div>
                        </div>
                    <div class="card-body">
                        {{ fig15 | safe }}
                    </div>
                </div>
            </div>

            <div class="col-md-12 mx-auto">
                <div class="card">
                    <div class="card-header">
                        <h1>Total Accidents Per Year</h1>
                        <div id="graph16">
                            </div>
                        </div>
                    <div class="card-body">
                        {{ fig16 | safe }}
                    </div>
                </div>
            </div>
            
            <div class="col-md-12 mx-auto">
                <div class="card">
                    <div class="card-header">
                        <h1>Total Killed per year</h1>
                        <div id="graph17">
                            </div>
                        </div>
                    <div class="card-body">
                        {{ fig17 | safe }}
                    </div>
                </div>
            </div>
            
            <div class="col-md-12 mx-auto">
                <div class="card">
                    <div class="card-header">
                        <h1>Total Injuries per year</h1>
                        <div id="graph18">
                            </div>
                        </div>
                    <div class="card-body">
                        {{ fig18 | safe }}
                    </div>
                </div>
            </div>  

            <div class="col-md-12 mx-auto">
                <div class="card">
                    <div class="card-header">
                        <h1>Total Accidents Per Year</h1>
                        <div id="graph19">
                            </div>
                        </div>
                    <div class="card-body">
                        {{ fig19 | safe }}
                    </div>
                </div>
            </div>

            <div class="col-md-12 mx-auto">
                <div class="card">
                    <div class="card-header">
                        <h1>Total Killed per year</h1>
                        <div id="graph20">
                            </div>
                        </div>
                    <div class="card-body">
                        {{ fig20 | safe }}
                    </div>
                </div>
            </div>

        </div>       
    </div>
  </main>
  <footer>
    <!-- place footer here -->
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>